      <table id="example1" class="table table-bordered table-striped">
                            <thead>
                              
                              <th>NAME</th>
                              <th>Conhum</th>
                              <th>Conmid</th>
                              <th>start</th>
                              <th>finish</th>


                            </td>
                          </thead>
                          <tbody style= "text-align:center;vertical-align:middle;">
                            <% for(var i=0; i<detail.length; i++) { %>
                            <tr>
                         
                              <td><%= detail[i].s_name %></td>
                              <td><%= detail[i].control_humid %></td>
                              <td><%= detail[i].control_temp %></td>
                              <td><%= detail[i].start_time%></td>
                              <td><%= detail[i].finish_time%></td>
    
                              </tr>
                              <% } %>
                            </tbody>
                   
                        </table>
